.accordion_container {
    margin-bottom: 30px;
}
@media(min-width:749px){
    .accordion_container {
        margin-bottom: 16px;
    }
}

.accordion_container p, .accordion_container a, .accordion_container h6 {
    font-size: 17px;
    color: #252525;
}
@media(min-width: 749px){ 
    .accordion_container p, .accordion_container a, .accordion_container h6{
        font-size: 21px;
    }
}

.accordion_container h6 {
    margin-top: 10px;
    font-weight: 600;
    padding-bottom: 8px;
    color: var(--grey);
}

.accordion_container p {
    padding-bottom: 12px;
    line-height: 1.29em;
    letter-spacing: 0.02em;
    word-spacing: -0.1em;
    color: var(--grey)
}
.accordion_container ul {

    list-style-type: square;
    margin-top: 5px;  
    padding-bottom: 20px;
        padding-left: 19px; 
}
.accordion_container ul li {
    color: var(--grey);
    /* display: inline; */
}
@media(min-width: 749px) {
    .accordion_container ul li {
        /* display: revert; */
    }
    .accordion_container ul {
        /* padding-bottom: 20px;
        padding-left: 19px; */
    }   
}
.accordion_container ul li {
    font-size: 17px;
}
.accordion_container a {
    font-size: 16px;
}
@media(min-width:749px){
    .accordion_container ul li{
        font-size: 21px;
    }
    .accordion_container a {
        font-size: 21px;
    }
    .accordion_container ul li:not(:first-child) {
        padding-left: 0px;
    }
}

.accordion_container a {
    color: var(--grey);
}

.accordion_container a:hover {
    color: var(--gs-blue);
}
/* .accordion_container h6 {
    font-size: 17px;
} */

.accordion_title {
    display: flex;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
}

.accordion_content {
    overflow: hidden;
    max-width: 1200px;
}
@media (min-width:749px){
    .accordion_title {
        padding: 7px 10px;
    }
    .accordion_content {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.icon_wrap{
    width: 26px;
    position: relative;
    margin-left: 10px;
}

.icon_wrap span {
    font-size: 30px;
    font-family: "Source Code Pro", monospace;
    position: absolute;
    top: -6px;
    left: 10px;
}
@media(min-width:749px){
    .icon_wrap span {
        font-size: 33px;
        top: -2px;
        left: -11px;
    }
}

.accordion_container h5 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.03em;
    word-spacing: -0.1em;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
@media(min-width:749px) {
    .accordion_container h5 {
        font-size: 32px;
    }
}