.container {
   margin-bottom: 60px;
   position: relative;
   overflow: hidden;
   margin-top: 70px;
}

.canvas {
    /* border: 1px solid red; */
    position: relative;

}
@media(min-width: 992px) {
    .canvas {
        cursor: pointer;
    }
}