/* Only effects 749px and up */
.hero_text_container {
    width: 92%;
    max-width: 1175px;
    text-align: center;
    position: relative;
    top: -7px;
}
@media(min-width: 1200px){
    .hero_text_container {
        width: 70%;
        min-width: 1164px;
    }
} 

.text_block {
    /* outline: 1px solid green; */
}

.hero_text_container h1 {
    display: inline;
    font-size: 1.8em;
    font-family: "Source Code Pro", monospace;
    position: relative;
    color: #252525;
    font-weight: 400;
    letter-spacing: 0.02em;
    word-spacing: -0.1em;
    line-height: 1.5em;
}

@media(min-width:960px) {
    .hero_text_container h1 {
        font-size: 2.5em;
        line-height: 1.6em;
    }
}
@media(min-width:1200px) {
    .hero_text_container h1 {
        font-size: 3.1em;
        line-height: 1.38em;
    }
} 
@media(min-width:1600px) {
    .hero_text_container h1 {
        font-size: 3.4em;
    }
} 

.inline_gif_wrap {
    height: 57px;
    width: 67px;
    display: inline-block;
    position: relative;
    top: 11px;
    /* margin: 0 5px 0 14px; */
}

.inline_gif{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section_2 {
    margin-top: 20px;
}
@media(min-width:960px) {
    .section_2 {
        margin-top: 60px;
    }
}
@media(min-width:1600px) {
    .section_2 {
        margin-top: 68px;
    }
}

.gif_1 {
    margin-left: 10px;
}

.gif_2 {
    margin-right: 20px;
}

.gif_3 {
    margin-left: 10px;
}
.gif_4 {
    margin-right: 20px;
}

.gif_5 {
    
}
/* Mobile */

.hero_text_container_mobile h1 {
    font-size: clamp(18px, 8vw, 25px);
    font-weight: 500;
    letter-spacing: 0.015em;
    word-spacing: -0.04em;
    line-height: 1.3em;
}

.hero_text_container_mobile h1 span {
    font-weight: 600;
    margin-bottom: 10px;
    display: inline-block;
}


.hero_text_container_mobile {
    margin: 0 20px;
    position: relative;
}

.hero_text_container_mobile .section_2 {
   margin-top: 0;
}

.hero_text_container_mobile .gif_wrap {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    position: relative;
    height: 250px;
}

.hero_text_container_mobile .hero_2 {
    margin-top: 0;
    margin-bottom: 1px;
}
@media(min-width:749px) {
    .hero_text_container_mobile .hero_2 {
        margin-top: 11px;
        margin-bottom: 1px;
    }
}

.hero_text_container_mobile .hero_2 h1 {
    font-size: clamp(17px, 5.8vw, 25px);
    letter-spacing: 0.015em;
    word-spacing: -0.04em;
    line-height: 1.3em;
    color: #292929;
}