.title_wrap {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
    margin-bottom: 90px;
}
@media(min-width:992px) {
    .title_wrap {
    padding-top: 20px;
    padding-left: 30px;
    }
}

.title_wrap h1{
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    color: #4a72bc;
    letter-spacing: 0.07em;
    margin-top: 7px;
}

.title_wrap a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
}