.form_wrap {
    padding: 0 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @media(min-width: 749px) {
        padding-top: 80px;
    }
}

.contact_form {
    width: 100%;
    @media(min-width: 749px) {
        width: 500px;
    }
}

.contact_form label {
    display: none;
}

.contact_form input, .contact_form textarea {
    font-size: 1.4rem;
    padding: 9px;
    font-family: "Source Code Pro", monospace;
}

.contact_form input {
   margin-bottom: 14px;
}

.contact_form textarea {
    margin-bottom: 24px;
 }

.form_element {
    display: flex;
    flex-direction: column;
}

.submit_button {
    font-family: "Source Code Pro", monospace;
    background-color: transparent;
    color: #252525;
    box-shadow: none;
    border: 1px solid #252525;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 1.2rem;
}