.footer_container {
 margin: 10rem 30px 14rem;
 padding-top: 3rem;
 display: flex;
 justify-content: center;
}

.footer_container_inner {
    display: flex;
    justify-content: space-between;
}


@media (min-width: 749px) {
    .footer_container_inner {
        width: 856px;
    }
}