.nav_overlay {
    position: relative;
}

.nav_icon_wrap {
    position: absolute;
    top: 27px;
    right: 30px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    z-index: 10;
    opacity: 91%;
}

.nav_menu_container {
    position: fixed;
    left: 100%;
    top: 0;
    height: 100vh;
    width: 60vw;
    background-color: #4a72bc;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_inner {
    min-height: 400px;
    width: 40%;
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu_item {
    font-size: 2.3rem;
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 254, 251);
}

.menu_item:hover {
    color: #252525;
}