.nav_overlay {
    position: relative;
}

.nav_icon_wrap {
    position: absolute;
    top: 27px;
    right: 30px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    z-index: 10;
    opacity: 91%;
}

.home_link {
    position: absolute;
    top: 27px;
    left: 30px;
    cursor: pointer;
}

.home_link a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    color: #252525;
}

.home_link a:hover {
    color: var(--gs-blue);
}

.nav_menu_container {
    position: fixed;
    left: 100%;
    top: 0;
    height: 100vh;
    width: 60vw;
    background-color: var(--gs-blue);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 150px;
}
@media (min-width:749px) {
    .nav_menu_container {
        padding-top: 0;
        align-items: center;
    }
}

.menu_inner {
    width: 71%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
@media (min-width:749px) {
    .menu_inner {
        width: 100%;
        display: inline-block;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.menu_item {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    padding: 10px;
    text-decoration: none;
    font-weight: 600;
    color: rgb(255, 254, 251);
}
@media(min-width:749px) {
    .menu_item {
        font-size: 2.3rem;
        text-transform: unset;
        letter-spacing: unset;
    }
}

.menu_item:hover {
    color: #252525;
}