html {
  font-size: 16px;
  background-color: rgb(255, 254, 251);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, li {
  font-family: "Source Code Pro", monospace;
  margin-top: 0;
  margin-bottom: 0;
  color: #222222;
}

h1 {
  font-size: 1.5rem;
  font-weight: 400;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

p {
  font-weight: 400;
  font-size: 1.4rem;;
}

a {
  font-family: "Source Code Pro", monospace;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: #222222;
  transition: color .3s ease-in-out;
}

.small-heading {
  font-size: 1.7rem;
  font-weight: 600;
}
@media(min-width: 992px) {
  .small-heading {
    font-size: 2rem;
  }
}

a:hover {
  color: cornflowerblue;
}

.no_pointer {
  pointer-events: none;
}

.div_pb {
  padding-bottom: 12px;
}

/* Fonts */

@font-face {
  font-family: "Source Code Pro";
  src: url('/fonts/SourceCodePro-Light.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Code Pro";
  src: url('/fonts/SourceCodePro-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Code Pro";
  src: url('/fonts/SourceCodePro-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Code Pro";
  src: url('/fonts/SourceCodePro-Black.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --gs-blue: #4a72bc;
  --green: #5A7026;
  --grey: #595858;
}