html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, li {
  font-family: Courier, monospace;
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-weight: 300;
  font-size: 1.5rem;;
}

a {
  color: blue;
  text-decoration: underline;
  text-underline-offset: 4px;
}

li {
  font-size: 1.2rem;
}