/* Fonts */
@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/NotoSans-VariableFont.woff2") format("woff2 supports variations"),
       url("/fonts/NotoSans-VariableFont.woff2") format("woff2-variations");
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

/* Variables */
:root {
  --white: #fcfcfc;
  --black: #1f1f1f;
  --deep-grey: #90929b;
  --text-grey: #72727E;
  --grey: #f0f0f0;
  --hover-grey: #e3e3e3;
  --blossom : #F7F0EC;
  --blue: #0F3CF0;
  --pm: 30px;
  --fg: var(--black);
  --bg: var(--white);
  --max-page-w: 2000px;
}

h1, h2, h3, h4, h5, h6, p, li {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--fg);
}

html, body {
  margin: 0; 
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

.btn {
    display: block;
    padding: 2px 5px;
    border-radius: 6px;
    border: none;
    background-color: var(--grey);
}

.nav-btn span {
  display: block;
}

html {
  font-size: 15px;
  background-color: var(--bg);
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
} 

body {
  position: relative;
}

a {
  text-decoration: none;
  font-style: italic;
  transition: color .3s ease-in-out;
  color: var(--fg);
}

/* Utils */

.no_pointer {
  pointer-events: none;
}

.px {
  padding-left: var(--pm);
  padding-right: var(--pm);
}

.py {
  padding-top: var(--pm);
  padding-bottom: var(--pm);
}

.outline {
  border: 1px solid green;
}

/* font sizes */

.fh1 {
   font-size: 44px;
   font-weight: 520;
   /* letter-spacing: .018em; */
}

.fh3 {
  font-size: 27px;
  font-weight: 420;
  letter-spacing: .018em;
  line-height: 1.5em;
}

.fh4 {
  font-size: 25px;
  font-weight: 400;
  /* letter-spacing: .03em; */
}

.fh5 {
   font-size: 19px;
   font-weight: 200;
   letter-spacing: 0.015em;
}

.fh6 {
   font-weight: 400;     
   letter-spacing: .01em;
   font-size: 21px;
}


.fb {
  font-weight: 390;
  font-size: 17px;
  /* letter-spacing: .01em; */
}

.fb-small {
  font-weight: 390;
  font-size: 16px;
}

.fd {
  font-weight: 380;
  letter-spacing: 0.01em;
  font-size: 15px; 
}

@media (max-width: 1025px) {

.fh1 {
   font-size: 37px;
   font-weight: 520;
   /* letter-spacing: .018em; */
}

}

@media (max-width: 860px) {

:root {
  --pm: 14px;
}

.fh1 {
   font-size: 26px;
   font-weight: 500;
}


.fh3 {
  font-size: 21px;
}

.fh4 {
  font-size: 18px;
  font-weight: 400;
}

.fh5 {
   font-size: 19px;
   font-weight: 200;
   letter-spacing: 0.015em;
}

.fh6 {
   font-weight: 400;     
   font-size: 17px;
}


.fb {
  font-weight: 390;
  font-size: 16px;
  /* letter-spacing: .01em; */
}

.fb-small {
  font-weight: 390;
  font-size: 15px;
}

.fd {
  font-weight: 380;
  letter-spacing: 0.01em;
  font-size: 15px; 
}

}

/* Pages */
.home-page {
  /* padding-top: 15svh; */
}

button {
  font-family: "Noto Sans";
  font-weight: 300;
  border-radius: 2px;
  -webkit-appearance: none;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 5px;
  cursor: pointer;
  border: 1px solid var(--black);
  color: var(--black);
  background-color: var(--grey);
}