/* Fonts */
@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-VariableFont.woff2") format("woff2 supports variations"),
       url("/fonts/Nunito-VariableFont.woff2") format("woff2-variations");
  font-optical-sizing: auto;
  font-weight: 200 900;
}

@font-face {
  font-family: "Cabin";
  src: url("/fonts/Cabin-VariableFont.woff2") format("woff2 supports variations"),
       url("/fonts/Cabin-VariableFont.woff2") format("woff2-variations");
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400 700;
}


/* Variables */
:root {
  --white: #fcfcfc;
  --black: #2a2a2a;
  --deep-grey: #90929b;
  --grey: #f0f0f0;
  --blossom : #F7F0EC;
  --pm: 20px;
  --fg: var(--black);
  --bg: var(--white);
  --max-page-w: 2000px;
}

h1, h2, h3, h4, h5, h6, p, li {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--fg);
}

html, body {
  margin: 0; 
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

.btn {
    display: block;
    padding: 2px 5px;
    border-radius: 6px;
    border: none;
    background-color: var(--grey);
}

.nav-btn span {
  display: block;
}

html {
  font-size: 15px;
  background-color: var(--bg);
  font-family: "Cabin" , sans-serif;
  font-weight: 300;
} 

body {
  position: relative;
}

a {
  text-decoration: none;
  font-style: italic;
  transition: color .3s ease-in-out;
  color: var(--fg);
}

/* Utils */

.no_pointer {
  pointer-events: none;
}

.px {
  padding-left: var(--pm);
  padding-right: var(--pm);
}

.py {
  padding-top: var(--pm);
  padding-bottom: var(--pm);
}

.outline {
  border: 1px solid green;
}

/* font sizes */

.fh1 {
   font-size: 49px;
   line-height: 1.2em;
   font-weight: 400;
   letter-spacing: .018em;
}

.fh3 {
  font-size: 39px;
  line-height: 1.2em;
  font-weight: 400;
  letter-spacing: .018em;
}

.fh4 {
  font-size: 25px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: .02em;
}

.fh5 {
   line-height: 1;
   font-size: 19px;
}


.fb {
  font-weight: 320;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.01em;
}

/* Pages */
.home-page {
  padding-top: 15svh;
}

button {
  font-family: "Cabin" , sans-serif;
  font-weight: 300;
  border-radius: 2px;
  -webkit-appearance: none;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 5px;
  cursor: pointer;
  border: 1px solid var(--black);
  color: var(--black);
  background-color: var(--grey);
}