/* Fonts */
@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-VariableFont.woff2") format("woff2 supports variations"),
       url("/fonts/Nunito-VariableFont.woff2") format("woff2-variations");
  font-optical-sizing: auto;
  font-weight: 200 900;
}


/* Variables */
:root {
  --white: rgb(252, 252, 252);
  --black: #1c1c1c;
  --grey: rgb(172, 168, 168);
  --pm: 20px;
  --fg: var(--black);
  --bg: var(--white);
}

h1, h2, h3, h4, h5, h6, p, li {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--fg);
}

html, body {
  margin: 0; 
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: var(--bg);
  font-family: "Nunito";
  font-weight: 320;
} 

body {
  position: relative;
}

a {
  text-decoration: none;
  font-style: italic;
  transition: color .3s ease-in-out;
}

/* Utils */

.no_pointer {
  pointer-events: none;
}

.px {
  padding-left: var(--pm);
  padding-right: var(--pm);
}

.py {
  padding-top: var(--pm);
  padding-bottom: var(--pm);
}

.outline {
  border: 1px solid green;
}


.fb {
  font-family: "Nunito";
  font-weight: 320;
  font-size: 32px;
  line-height: 1.1;
}