.text_container {
    max-width: 1100px;
}

.body_text {
    line-height: 1.4em;
    letter-spacing: 0.02em;
}

.animation_container {
    height: 300px;
    margin-bottom: 100px;
    cursor: grab;
}

.main_content_container {
    min-height: 99vh;
}

.pb {
    padding-bottom: 1.1rem;
}

.pb_sml {
    padding-bottom: .2rem;
}