.content_inner {
    max-width: 856px;
    padding-top: 4rem;
    padding-left: 10px;
    padding-right: 10px;
}

.hero_text {
    line-height: 1.5em;
    letter-spacing: 0.01em;
    font-size: 22px;
}

.desktop_only {
    display: none;
}

@media (min-width: 749px) {
    .hero_text {
        font-size: 27px;
        line-height: 1.5em;
        letter-spacing: 0.03em;
        word-spacing: -0.1em;
    }
    .desktop_only {
        display: block;
    }
}

.animation_container {
    height: 300px;
    margin-bottom: 100px;
    cursor: grab;
}

.main_content_container {
    min-height: 99vh;
    display: flex;
    justify-content: center;
}

.section {
    margin-top: 5rem;
    border: 1px solid green;
}

.pb {
    padding-bottom: 1.1rem;
}

.pb_sml {
    padding-bottom: .2rem;
}