.hero_text {
    line-height: 1.5em;
    letter-spacing: 0.01em;
    font-size: 23px;
}
@media(min-width: 749px){
    .hero_text {
        font-size: calc(21px + 0.390625vw);
        line-height: 1.5em;
        letter-spacing: 0.03em;
        word-spacing: -0.1em;
    }
}
@media(min-width: 1200px){
    .hero_text {
        font-size: calc(23px + 0.390625vw);
        line-height: 1.4em;
    }
}


.projects_list li , .body_copy {
    font-size: 19px;
    @media(min-width:992px) {
        font-size: 21px;
    }
}

.desktop_only {
    display: none;
    @media(min-width:749px){
        display: block;
    }
}

.projects_list li {
 padding-bottom: 11px;
 line-height: 1.6em;
}

.animation_container {
    height: 300px;
    cursor: grab;
    max-width: 100%;
    @media(min-width: 749px) {
        margin-top: 100px;
    }
}

.section_1 {
    min-height: calc(100vh - 135px);
}
@media (min-width: 749px) {
    .section_1 {
        min-height: calc(100vh - 165px);
    }  
}

.section_1_inner {
    padding-left: 26px;
    padding-right: 33px;
    padding-top: 90px;
}
@media (min-width: 992px) {
    .section_1_inner {
        padding-top: 20px;
        padding-left: 30px;
        width: 58%;
    }
}


.sub_title {
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: #252525;
    letter-spacing: 0.07em;
    @media(min-width:992px) {
        font-size: 16px;
    }
}

.section_1 .sub_title {
    
}

.section_2 .sub_title {
    text-transform: unset;
}



.section_2 {
    display: flex;
    padding-left: 26px;
    padding-right: 30px;
}
@media(min-width:992px) {
    .section_2 {
        padding-left: 30px;
        margin-bottom: 250px;
    }
}

.pb {
    padding-bottom: 1.1rem;
}

.pb_sml {
    padding-bottom: .2rem;
}

.hr {
    height: 3px;
    border-radius: 10px;
    background-color: #252525;
    margin-top: 10rem;
}