.hero__section {
  height: calc(85vh - var(--pm));
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: var(--pm);
  position: relative;
  z-index: 1;
}
.hero__section .animation-wrap {
  position: relative;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}
.main__text {
  padding: 110px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__text .inner {
  max-width: 2000px;
  opacity: 0;
  transform: translateY(20px);
}
.main__text h1 {
  font-size: 49px;
  line-height: 1.2em;
  font-weight: 400;
  letter-spacing: 0.018em;
  font-family: "Cabin";
  background: linear-gradient(to right, #37baea 0%, #FFF9A3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main__text h3 {
  padding-top: 20px;
  font-size: 39px;
  line-height: 1.2em;
  font-weight: 400;
  letter-spacing: 0.018em;
  font-family: "Cabin";
  color: var(--deep-grey);
}
.main__text h4 {
  font-size: 25px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 0.02em;
  font-family: "Cabin";
  color: var(--deep-grey);
}
.main__text h4.tech-title {
  text-transform: uppercase;
  line-height: 1;
  font-size: 19px;
  padding-bottom: 12px;
}
.main__text .tech {
  padding-top: 60px;
}
.main__text a {
  color: unset;
  font-style: normal;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}
.main__text a:hover {
  color: blue;
}

.projects__grid {
  background-color: var(--bg);
  padding-bottom: 600px;
  z-index: 5;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}
.projects__grid .title {
  padding-bottom: var(--pm);
}
.projects__grid .rows-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.projects__grid .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  transition: all 0.45s ease-in-out;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.projects__grid .row:has(.project__card:first-child.active) {
  grid-template-columns: 2fr 1fr 1fr;
}
.projects__grid .row:has(.project__card:nth-child(2).active) {
  grid-template-columns: 1fr 2fr 1fr;
}
.projects__grid .row:has(.project__card:nth-child(3).active) {
  grid-template-columns: 1fr 1fr 2fr;
}

.project__card {
  border-radius: 9px;
  min-height: 450px;
  overflow: hidden;
  border: 1px solid var(--black);
  cursor: pointer;
}
.project__card .project-title {
  font-weight: 500;
  letter-spacing: 0.01em;
}
.project__card .aspectholder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.project__card .aspectholder .top {
  display: flex;
  justify-content: space-between;
  z-index: 5;
  position: relative;
  padding-top: var(--pm);
}
.project__card .aspectholder .top button {
  cursor: pointer;
}
.project__card .aspectholder .img-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(247, 247, 247);
  transition: all 0.8s ease-in-out;
  pointer-events: none;
}
.project__card .body {
  padding-top: var(--pm);
  padding-bottom: var(--pm);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.project__card .body .sub-title, .project__card .body .paragraph {
  padding-bottom: 10px;
}
.project__card .body .link-wrap {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}
.project__card .body .link-wrap a {
  font-style: normal;
}
.project__card .body .tech-icons {
  display: flex;
  gap: 8px;
  align-items: center;
}
.project__card .body .tech-icon {
  display: inline-block;
}
.project__card .body .tech-icon svg {
  height: 30px;
  width: 30px;
}
.project__card .body .write-up {
  max-width: 700px;
}
.project__card .body .write-up p:not(:last-child) {
  padding-bottom: 10px;
}
.project__card.active .img-wrap {
  opacity: 0;
}
.project__card.not-active .aspectholder {
  height: 100%;
}