.hero__section {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    .animation-wrap {
        // border-top: 1px solid var(--deep-grey);
        // padding-top: 45px;

        position: relative;
        width: 100%;
        canvas {
            // border: 1px solid green;
        }
    }
}

.main__text {
   
     padding: 170px 0;
     display: flex;
     justify-content: start;
     align-items: center;

    .inner {
       max-width: 1500px;
    }
    h1 {
        font-size: 49px;
        line-height: 1.2em;
        font-weight: 400;
        letter-spacing: .018em;
        font-family: "Cabin";
       background: linear-gradient(to right, #37baea 0%, #FFF9A3 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
  

     h3 {
        padding-top: 20px;
        font-size: 39px;
        line-height: 1.2em;
        font-weight: 400;
        letter-spacing: .018em;
        font-family: "Cabin";
        color: var(--deep-grey);
    }

     h4 {
        font-size: 25px;
        line-height: 1;
        font-weight: 400;
        letter-spacing: .02em;
        font-family: "Cabin";
        color: var(--deep-grey);
        &.tech-title {
            text-transform: uppercase;
            line-height: 1;
            font-size: 19px;
            padding-bottom: 10px;
        }
    }
    .tech {
        padding-top: 40px;
    }

    a {
        color: unset;
        font-style: normal;
        text-decoration: underline;
        text-decoration-thickness: 3px;
        &:hover {
            color: blue;
        }
    }
}

.projects__grid {
    background-color: var(--bg);
    padding-bottom: 600px;
    z-index: 5;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    .title {
        padding-bottom: var(--pm);
    }
    .rows-wrap {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    .row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        transition: all .45s ease-in-out;
        column-gap: 40px;
        &:has(.project__card:first-child.active) {
            grid-template-columns: 2fr 1fr 1fr;
        }
        &:has(.project__card:nth-child(2).active) {
            grid-template-columns: 1fr 2fr 1fr;
        }
        &:has(.project__card:nth-child(3).active) {
            grid-template-columns: 1fr 1fr 2fr;
        }
    }
}

.project__card {
    border-radius: 9px;
    min-height: 450px;
    overflow: hidden;
    border: 1px solid var(--black);
    cursor: pointer;
    .project-title {
       font-weight: 500;
       letter-spacing: 0.01em;
    }
    .aspectholder {
        width: 100%;
        height: 100%;
        // aspect-ratio: 4/2.3;
        display: flex;
        flex-direction: column;
        position: relative;
        .top {
            display: flex;
            justify-content: space-between;
            z-index: 5;
            position: relative;
            padding-top: var(--pm);
            button {
                cursor: pointer;
            }
        }
        .img-wrap {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(247, 247, 247);
            transition: all 0.8s ease-in-out;
            pointer-events: none;
        }
    }
    .body {
        padding-top: var(--pm);
        padding-bottom: var(--pm);
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        .sub-title, .paragraph {
            padding-bottom: 10px;
        }
        .link-wrap {
            flex-grow: 1;
            display: flex;
            align-items: flex-end;
            a {
                font-style: normal;
            }
        }
        .tech-icons {
            display: flex;
            gap: 8px;
            align-items: center;
        }
        .tech-icon {
            display: inline-block;
            svg {
                height: 30px;
                width: 30px;
            }
        }
        .write-up {
            max-width: 700px;
            p:not(:last-child) {
                padding-bottom: 10px;
            }
        }
    }
    &.active {
        .img-wrap {
           opacity: 0;
        }
    }
    &.not-active {
        .aspectholder {
            height: 100%;
        }
    }
}