$ipad-break: 1025;
$mobile-break: 860;

.main__text {
     z-index: 2;
     height: 100svh;
     background-color: rgb(102, 122, 102);
     display: flex;
     align-items: center;
     justify-content: center;
     .text-wrap {
        background-color: wheat;
     }
 
    h1 {
        color: red;
    }

    a {
        color: unset;
        font-style: normal;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 3px;
        &:hover {
            color: var(--blue);
        }
    }

}