.hero__section {
    height: 95.5dvh;
    background-color: var(--bg);
    font-size: 30px;
    position: relative;
    z-index: 1;
    .animation-wrap {
        position: fixed;
        top: calc(46vh - 90px);
        left: 50vw;
        transform: translate(-50%, -50%);
        canvas {
            // border: 1px solid green;
        }
    }
}

.main__text {
    z-index: 5;
    position: relative;
    padding: 20vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    h2 {
        font-size: 65px;
        letter-spacing: 0.01em;
        max-width: 1200px;
        font-family: "Nunito";
        text-align: center;
        color: var(--black);
        font-weight: 500;
        
        a {
            color: var(--black);
        }
    }
}