.hero__section {
    height: 90svh;
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: relative;
    z-index: 1;
    .animation-wrap {
        position: relative;
        width: 100%;
        canvas {
            // border: 1px solid green;
        }
    }
}

.main__text {
   
    position: relative;

    .inner {
        padding-top: 170px;
        padding-bottom: 16vh;
    }
    h2 {
        font-size: 55px;
        line-height: 1.3em;
        font-weight: 400;
        letter-spacing: .018em;
        font-family: "Cabin";
        color: #1C6E8C;
        a {
            color: var(--black);
            font-style: normal;
        }
        span {
            padding-top: 7px;
            display: block;
            color: var(--deep-grey);
        }
    }

     h3 {
        font-size: 25px;
        display: none;
        line-height: 1.4em;
        font-weight: 400;
        letter-spacing: .018em;
        font-family: "Cabin";
        color: var(--black);
        a {
            color: var(--black);
            font-style: normal;
        }
    }
}

.projects__grid {
    background-color: var(--bg);
    padding-bottom: 600px;
    z-index: 5;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    .title {
        padding-bottom: var(--pm);
    }
    .rows-wrap {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    .row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        transition: all .45s ease-in-out;
        column-gap: 40px;
        &:has(.project__card:first-child.active) {
            grid-template-columns: 2fr 1fr 1fr;
        }
        &:has(.project__card:nth-child(2).active) {
            grid-template-columns: 1fr 2fr 1fr;
        }
        &:has(.project__card:nth-child(3).active) {
            grid-template-columns: 1fr 1fr 2fr;
        }
    }
}

.project__card {
    border-radius: 9px;
    overflow: hidden;
    border: 1px solid var(--black);
    cursor: pointer;
    .project-title {
       font-weight: 500;
       letter-spacing: 0.01em;
    }
    .aspectholder {
        width: 100%;
        height: 100%;
        // aspect-ratio: 4/2.3;
        display: flex;
        flex-direction: column;
        position: relative;
        .top {
            display: flex;
            justify-content: space-between;
            z-index: 5;
            position: relative;
            padding-top: var(--pm);
            button {
                cursor: pointer;
            }
        }
        .img-wrap {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(243, 169, 169);
            transition: all .45s ease-in-out;
        }
    }
    .img-wrap {
        pointer-events: none;
    }
    .body {
        padding-top: var(--pm);
        padding-bottom: var(--pm);
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        .sub-title, .paragraph {
            padding-bottom: 10px;
        }
        .link-wrap {
            flex-grow: 1;
            display: flex;
            align-items: flex-end;
            a {
                font-style: normal;
            }
        }
    }
    &.active {
        .img-wrap {
            background-color: transparent;
        }
    }
    &.not-active {
        .aspectholder {
            height: 100%;
        }
    }
}