.hero__section {
    height: calc( 85vh - var(--pm));
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: var(--pm);
    position: relative;
    z-index: 1;
    .animation-wrap {
        padding-bottom: 20px;
        padding-top: 20px;
        position: relative;
        width: 100%;
        border-radius: 12px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        background-color: var(--blossom);
        canvas {
            // display: none;
        }
    }
}

.main__text {
   
     padding: 110px 0;
     display: flex;
     justify-content: center;
     align-items: center;

    .inner {
       max-width: 2000px;
       opacity: 0;
       transform: translateY(20px);
    }
    h1 {
        // background: linear-gradient(to right, #37baea 0%, #FFF9A3 100%);
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        color: var(--black);
    }
  

     h3 {
        padding-top: 20px;
        color: var(--deep-grey);
    }

     h4 {
       
        color: var(--deep-grey);
        &.tech-title {
            text-transform: uppercase;
            padding-bottom: 12px;
            color: var(--black);
        }
    }
    .tech {
        padding-top: 60px;
    }

    a {
        color: unset;
        font-style: normal;
        text-decoration: underline;
        text-decoration-thickness: 3px;
        &:hover {
            color: blue;
        }
    }
}

.projects__grid {
    background-color: var(--bg);
    z-index: 5;
    position: relative;
    padding-top: 0px;
    padding-bottom: 110px;
    .title {
        padding-bottom: var(--pm);
        color: var(--black);
        text-transform: uppercase;
    }
    .rows-wrap {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    .row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        transition: all .45s ease-in-out;
        column-gap: 20px;
        &:has(.project__card:first-child.active) {
            grid-template-columns: 2fr 1fr 1fr;
        }
        &:has(.project__card:nth-child(2).active) {
            grid-template-columns: 1fr 2fr 1fr;
        }
        &:has(.project__card:nth-child(3).active) {
            grid-template-columns: 1fr 1fr 2fr;
        }
    }
}

.project__card {
    border-radius: 9px;
    min-height: 450px;
    overflow: hidden;
    border: 1px solid var(--black);
    cursor: pointer;
    .expand-project-btn {
        background-color: var(--grey);
        border: 1px solid var(--black);
        border-radius: 2px;
        width: 25px;
        height: 25px;
    }
    .project-title {
       
    }
    .aspectholder {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        .top {
            display: flex;
            justify-content: space-between;
            z-index: 5;
            position: relative;
            padding-top: var(--pm);
            button {
                cursor: pointer;
            }
        }
        .colour-overlay {
            position: absolute;
            background-color: blue;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all 0.5s ease-in-out;
            pointer-events: none;
        }
    }
    .body {
        padding-top: var(--pm);
        padding-bottom: var(--pm);
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        .sub-title, .paragraph {
            padding-bottom: 10px;
        }
        .link-wrap {
            flex-grow: 1;
            display: flex;
            align-items: flex-end;
            a {
                font-style: normal;
            }
        }
        .tech-icons {
            display: flex;
            gap: 8px;
            align-items: center;
        }
        .tech-icon {
            display: inline-block;
            svg {
                height: 30px;
                width: 30px;
            }
        }
        .write-up {
            max-width: 700px;
            p:not(:last-child) {
                padding-bottom: 10px;
            }
        }
    }
    &.active {
        .colour-overlay {
           opacity: 0;
        }
    }
    &.not-active {
        .aspectholder {
            height: 100%;
        }
    }
}