.hero__section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    .animation-wrap {
        padding-bottom: 20px;
        padding-top: 20px;
        position: relative;
        width: 100%;
        border-radius: 12px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        // background-color: var(--grey);
        canvas {
            // display: none;
        }
    }
}

.main__text {
   
     padding-bottom: 110px;
     display: flex;
     justify-content: center;
     align-items: center;

    .inner {
       max-width: var(--max-page-w);
       opacity: 0;
       transform: translateY(20px);
    }
    h1 {
//        background: #0F3CF0;
    // background: radial-gradient(circle farthest-corner at top left, #0F3CF0 0%, #C3D7F0 100%);
    //         -webkit-background-clip: text;
    //         -webkit-text-fill-color: transparent;
        font-weight: 470;
        color: var(--black);
       
    }
    
    h2 {
        padding-top: 32px;
    }

     h3 {
        padding-top: 32px;
        color: var(--black);
    }

     h4 {        
        &.tech-title {
            padding-bottom: 12px;
            text-align: center;
            // color: var(--deep-grey);
            //  text-transform: uppercase;
        }
        &.tech-items {
            text-align: center;
        }
    }
    .tech {
        padding-top: 110px;
    }

    a {
        color: unset;
        font-style: normal;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 3px;
        &:hover {
            color: var(--blue);
        }
    }
}

.projects__grid {
    background-color: var(--bg);
    z-index: 5;
    position: relative;
    padding-top: 0px;
    padding-bottom: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title-wrap {
        width: 100%;
        max-width: var(--max-page-w);
        .title {
            padding-bottom: 32px;
            text-align: center;
            // color: var(--deep-grey);
            // text-transform: uppercase;
        }
    }
    
    
    .rows-wrap {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        max-width: var(--max-page-w);
    }
    .row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        transition: all .45s ease-in-out;
        column-gap: 20px;
        &:has(.project__card:first-child.active) {
            grid-template-columns: 2fr 1fr 1fr;
        }
        &:has(.project__card:nth-child(2).active) {
            grid-template-columns: 1fr 2fr 1fr;
        }
        &:has(.project__card:nth-child(3).active) {
            grid-template-columns: 1fr 1fr 2fr;
        }
    }
}

.project__card {
    border-radius: 9px;
    min-height: 420px;
    overflow: hidden;
    // background-color: #e7e7e7;
    // border: 1px solid var(--black);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    cursor: pointer;
    .expand-project-btn {
        padding: 0px;
        height: 25px;
        width: 25px;
        position: relative;
        transition: all .3s ease-in-out;
        border-color: var(--deep-grey);
        border: none;
        span {
            font-size: 21px;
            line-height: 1;
            font-weight: 200;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &:hover {
            background-color: var(--hover-grey);
        }
    }
    .project-title {
       color: var(--bg);
       transition: all .2s ease-in-out 0s;
    }
    .aspectholder {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        .top {
            display: flex;
            justify-content: space-between;
            z-index: 5;
            position: relative;
            padding-top: var(--pm);
        }
        .colour-overlay {
            --blur-amount: 75px;
            position: absolute;
            background-color: rgb(206, 204, 204);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition:
                opacity 0.4s ease-in-out,
                height 0.3s ease-in-out, 
                width 0.3s ease-in-out, 
                top 0.3s ease-in-out,
                left 0.3s ease-in-out;
            transform-origin: center;
            overflow: hidden;

            // disable
            // opacity: 0;
            // pointer-events: none;

            #blob1 {
                width: 125%;
                height: 50%;
                border-radius: 75% 90%;
                background-color: var(--brand_colour);
                transform: rotate(19deg);
                filter: blur(var(--blur-amount));
                mix-blend-mode: soft-light;
                position: absolute;
                top: 25%;
                left: -15%;
            }

            #blob2 {
                width: 70%;
                height: 60%;
                border-radius: 50% 33%;
                background-color: var(--brand_colour);
                position: absolute;
                top: 50%;
                left: 20%;
                filter: blur(var(--blur-amount));
                /*   mix-blend-mode: overlay; */
            }

            #blob3 {
                width: 25%;
                height: 120%;
                border-radius: 45% 40%;
                position: absolute;
                top: 23%;
                left: 75%;
                background-color: var(--brand_colour);
                filter: blur(var(--blur-amount));
                mix-blend-mode: overlay;
            }

            #noiseLayer {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                filter: url(#noiseFilter) brightness(0.4) contrast(0.8);
                mix-blend-mode: soft-light;
                z-index: 10;
            }
        }
    }
    .body {
        padding-top: 30px;
        padding-bottom: var(--pm);
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        .paragraph {
            padding-bottom: 10px;
        }
        .meta {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            .info {
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
        }
        .link-wrap {
            // flex-grow: 1;
            // display: flex;
            // align-items: flex-end;
            // padding-top: 20px;
            a {
                font-style: normal;
                
                font-weight: 600;
                &:hover {
                    color: var(--blue);
                }
            }
        }
        .tech-icons {
            display: flex;
            gap: 10px;
            align-items: start;
            .sub-title {
                padding-right: 5px;
            }
        }
        .icon_wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 6px;
            svg {
                width: 35px;
                height: auto;
            }
            .fb {
                font-size: 12px;
            }
        }
        .write-up {
            // max-width: 700px;
            padding-bottom: 30px;
            max-height: 0px;
            transition: all .2s ease-in-out 0s;
            overflow: hidden;
            p:not(:last-child) {
                padding-bottom: 10px;
            }
        }
        .accordions-outer {
            padding-bottom: 30px;
            display: flex;
            flex-direction: column;
            gap: 12px;
            .accordion_row {
                background-color: var(--grey);
                border-radius: 6px;
                transition: all .3s ease-in-out;
                &:hover {
                    background-color: var(--hover-grey);
                }
                .accordion_title {
                    
                    button {
                        width: 100%;
                        background-color: transparent;
                        font-weight: 200;
                        border: none;
                        padding: 0;
                        display: flex;
                        justify-content: space-between;
                        padding: 10px;
                  
                    }
                }
                .accordion_body {
                    max-height: 0;
                    transition: all .3s ease-in-out;
                    overflow: hidden; 
                    .inner {
                        padding: 16px 10px;
                    }
                    ul {
                        margin: 0px;
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                    }
                }
                &.row-active {
                    background-color: var(--grey);
                    .accordion_body {
                        max-height: var(--natural-height);
                    }
                }
            }
        }
    }
    &.active {
        .colour-overlay {
           opacity: 0;
           pointer-events: none;
           transition: all 0.3s ease-in-out .3s ; 
        }
        .project-title {
            color: var(--black);
            transition: all 0.5s ease-in-out; 
        }
        .write-up {
            max-height: 250px;
            transition: all .3s ease-in-out .05s;
        }
    }
    &.not-active {
        .aspectholder {
            height: 100%;
        }
    }
    &:hover {
        .colour-overlay {
            width: 120%;
            top: -20%;
            height: 120%;
            left: -20%;
        }
    }
}


