.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    max-width: 100%;
    
    h2 {
        font-weight: 400;
        color: var(--black);
        // letter-spacing: 0.04em;
        line-height: 1;
        font-size: 16px;
        font-family: Courier, monospace;
    }   

    .inner {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: var(--pm);
        // padding-bottom: var(--pm);
    }

    .nav-btn {
        background-color: transparent;
        position: absolute;
        top: 20px;
        right: var(--pm);
        cursor: pointer;
        border: 1px solid var(--black);;
        transition: height .4s ease-in-out,
                    width .4s ease-in-out,
                    border-color .3s ease-in-out,
                    background-color .3s ease-in-out;
        padding: 0px;
        width: 26px;
        height: 26px;
        
        &:hover {
            border-color: var(--deep-grey);
            background-color: var(--grey);
        }
        &.is-active {
            width: 30vw;
            height: 30vw;
            max-height: 95vh;
            cursor: ne-resize;
            background-color: var(--grey);
        }
        .open-info__icon {
            --plus-length: 14px;
            position: absolute;
            top: 6px;
            right: 6px;
            display: flex;
            height: var(--plus-length);
            width: var(--plus-length);
            .line {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: var(--black);
                transition: all .42s ease-in-out;
                border-radius: 200px;
            }
            .horizontal-line {
                height: 1px;
                width: var(--plus-length);
            }
            .vertical-line {
                width: 1px;
                height: var(--plus-length);
            }
        }
        .overlay-content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            overflow: hidden;
            .overlay-inner {
                .items {
                padding-top: 13px;
                display: flex;
                flex-direction: column;
                gap: 7px;
                }
               p {
                 font-size: 22px;
               }
               p.email object {
                 position: relative;
                 top: 6px;
                 left: 5px;
               }

               p.phone object {
                 position: relative;
                 top: 6px;
                 left: 3px;
               }
            }
        }
        &.is-active {
             border-color:  var(--deep-grey); 
        .overlay-content {
            opacity: 1;
            transition: all .3s ease-in-out .42s;
        }
        .vertical-line {
            opacity: 0;
        }
        }
    }

    
}