$ipad-break: 1025;
$mobile-break: 860;

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    max-width: 100%;
    
    .box {  
    //     display: inline-block;  
    //     height: 25px;
    //     width: 25px;
    //     border-top: 1px solid var(--black);
    //     border-left: 1px solid var(--black); 
    //    border-radius: 5px 0px 0px 0px;
    }   

    .inner {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: var(--pm);
        // padding-bottom: var(--pm);
    }

    .nav-btn {
        background-color: transparent;
        position: absolute;
        top: 20px;
        right: var(--pm);
        cursor: pointer;
        border: 1px solid var(--black);;
        transition: height .4s ease-in-out,
                    width .4s ease-in-out,
                    border-color .3s ease-in-out,
                    background-color .3s ease-in-out;
        padding: 0px;
        width: 26px;
        height: 26px;
        
        &:hover {
            border-color: var(--deep-grey);
            background-color: var(--grey);
        }
        &.is-active {
            width: 30vw;
            height: 30vw;
            max-height: 95vh;
            cursor: ne-resize;
            background-color: var(--grey);
        }
        .open-info__icon {
            --plus-length: 14px;
            position: absolute;
            top: 6px;
            right: 6px;
            display: flex;
            height: var(--plus-length);
            width: var(--plus-length);
            .line {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: var(--black);
                transition: all .42s ease-in-out;
                border-radius: 200px;
            }
            .horizontal-line {
                height: 2px;
                width: var(--plus-length);
            }
            .vertical-line {
                width: 2px;
                height: var(--plus-length);
            }
        }
        .overlay-content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            overflow: hidden;
            .overlay-inner {
                .items {
                padding-top: 13px;
                display: flex;
                flex-direction: column;
                gap: 7px;
                }
               p.email object {
                 position: relative;
                 top: 6px;
                 left: 5px;
                 svg text {
                    fill: red;
                 }
               }

               p.phone object {
                 position: relative;
                 top: 6px;
                 left: 3px;
               }
               .btns {
                padding-top: 20px;
                display: flex;
                gap: 16px;
                

                button {
                    
                    font-size: 14px;
                    font-weight: 400;
                    transition: all .3s ease-in-out;
                &:hover {
                    background-color: var(--deep-grey);
                    color: var(--white);
                }
                }
               
               }
            }
        }
        &.is-active {
             border-color:  var(--deep-grey); 
        .overlay-content {
            opacity: 1;
            transition: all .3s ease-in-out .42s;
        }
        .vertical-line {
            opacity: 0;
        }
        }
    }

    @media(max-width: $mobile-break) {
        .nav-btn {
            &.is-active {
                width: calc(100vw - var(--pm) * 2);
                height: calc(100vw - var(--pm) * 2);
            }
        }
    }
    
}