.main-nav {
    padding-top: 12px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    max-width: 100%;
    h2 {
        color: var(--deep-grey);
        font-weight: 200;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        font-size: 18px;
    }   

    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}