.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    max-width: 100%;
    
    h2 {
        color: var(--black);
        font-weight: 200;
        letter-spacing: 0.09em;
        line-height: 1;
        font-size: 17px;
        text-transform: uppercase;
    }   

    .inner {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: var(--pm);
        // padding-bottom: var(--pm);
    }

    .nav-btn {
        color: var(--deep-grey);
        position: absolute;
        top: 18px;
        right: var(--pm);
        cursor: pointer;
        border: 1px solid transparent;
        transition: height .4s ease-in-out,
                    width .4s ease-in-out,
                    border-color .3s ease-in-out;
        padding: 0px;
        width: 30px;
        height: 30px;
        // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        &:hover {
            border-color: var(--deep-grey);
        }
        &.is-active {
            width: 30vw;
            height: 30vw;
            max-height: 95vh;
            cursor: ne-resize;
        }
        .open-info__icon {
            --plus-length: 14px;
            position: absolute;
            top: 8px;
            right: 8px;
            display: flex;
            height: var(--plus-length);
            width: var(--plus-length);
            .line {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: var(--black);
                transition: all .42s ease-in-out;
                border-radius: 200px;
            }
            .horizontal-line {
                height: 2px;
                width: var(--plus-length);
            }
            .vertical-line {
                width: 2px;
                height: var(--plus-length);
            }
        }
        .overlay-content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            overflow: hidden;
            .overlay-inner {
                .items {
                padding-top: 13px;
                display: flex;
                flex-direction: column;
                gap: 7px;
                }
               p {
                 font-size: 22px;
               }
               p.email object {
                 position: relative;
                 top: 6px;
                 left: 5px;
               }

               p.phone object {
                 position: relative;
                 top: 6px;
                 left: 3px;
               }
            }
        }
        &.is-active {
             border-color: var(--deep-grey); 
        .overlay-content {
            opacity: 1;
            transition: all .3s ease-in-out .42s;
        }
        .vertical-line {
            opacity: 0;
        }
        }
    }

    
}