$ipad-break: 1025;
$mobile-break: 860;

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    max-width: 100%;
    
    .inner {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: var(--pm);
        // padding-bottom: var(--pm);
    }

    .nav-btn {
        background-color: transparent;
        position: absolute;
        z-index: 3;
        top: 20px;
        right: var(--pm);
        cursor: pointer;
        border: 1px solid var(--black);;
        transition: height .4s ease-in-out,
                    width .4s ease-in-out,
                    border-color .3s ease-in-out,
                    background-color .3s ease-in-out;
        padding: 0px;
        width: 26px;
        height: 26px;
        
        &:hover {
            border-color: var(--deep-grey);
            background-color: var(--grey);
        }
        &.is-active {
            width: 35vw;
            height: 35vw;
            max-height: 95vh;
            cursor: ne-resize;
            background-color: var(--grey);
        }
        .open-info__icon {
            --plus-length: 14px;
            position: absolute;
            top: 6px;
            right: 6px;
            display: flex;
            height: var(--plus-length);
            width: var(--plus-length);
            .line {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: var(--black);
                transition: all .42s ease-in-out;
                border-radius: 200px;
            }
            .horizontal-line {
                height: 2px;
                width: var(--plus-length);
            }
            .vertical-line {
                width: 2px;
                height: var(--plus-length);
            }
        }
        .overlay-content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            overflow: hidden;
            .overlay-inner {
                .items {
                padding-top: 13px;
                display: flex;
                flex-direction: column;
                gap: 7px;
                }
                .svgs-wrap {
                    padding-top: 25px;
                    display: flex;
                    flex-direction: column;
                    gap: 7px;
                }
               .email-wrap {
                display: flex;
                gap: 8px;
                object {
                    position: relative;
                    top: 1px;
                }
               }
               .phone-wrap {
                    display: flex;
                gap: 8px;
                 object {
                    position: relative;
                    top: 3px;
                }
               }
               .btns {
                padding-top: 16px;
                display: flex;
                gap: 16px;
                

                button {
                    font-size: 14px;
                    font-weight: 400;
                    display: flex;
                    align-items: flex-end;
                    gap: 4px;

                &:hover {
                    background-color: var(--deep-grey);
                    color: var(--white);
                }
                }
               
               }
            }
        }
        &.is-active {
             border-color:  var(--deep-grey); 
        .overlay-content {
            opacity: 1;
            transition: all .3s ease-in-out .42s;
        }
        .vertical-line {
            opacity: 0;
        }
        }
    }

    .modal-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #1b1b1b1c;
        opacity: 0;
        pointer-events: none;
        transition: all .3s ease-in-out;
    }

    @media(max-width: $mobile-break) {
        .nav-btn {
            &.is-active {
                width: calc(100vw - var(--pm) * 2);
                height: calc(100vw - var(--pm) * 2);
            }
        }
        .nav-btn .overlay-content .overlay-inner .btns button {
            &:hover {
                background-color: unset;
                color: unset;
            }
        }
    }
    
}