.main-nav {

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    max-width: 100%;
    h2 {
        color: var(--black);
        font-weight: 400;
        letter-spacing: 0.04em;
    }   

    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}