.main-nav {
    // padding-top: 16px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    max-width: 100%;
    h2 {
        color: var(--black);
        font-weight: 200;
        letter-spacing: 0.06em;
        // text-transform: uppercase;
        font-size: 15px;
        background-color: var(--grey);
        padding: 5px 9px;
    border-radius: 6px;
    }   

    .nav-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        font-size: 15px;
        width: 40px;
        height: 27px; 
        color: var(--deep-grey);
    }


//     .btn {
//     display: block;
//     padding: 2px 5px;
//     border-radius: 6px;
//     border: none;
//     background-color: var(--grey);
// }

// .nav-btn {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   gap: 4px;
//   font-size: 15px;
//   width: 40px;
//   height: 27px;
// }

    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}