$mobile-break: 980px;

.page__application {
    padding-top: 52px;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
    .inner {
        width: 780px;
        display: flex;
        flex-direction: column;
        .fh1, .fh3 {
            line-height: 1;
        }

        .fh2 {
            padding-bottom: 12px;
            font-weight: 550;
        }
        .writer {
            padding-block: 24px;
        }
    }
    .video-wrapper {
        width: 100%;
        aspect-ratio: 16/9;
        video {
            width: 100%;
            height: auto;
        }
    }
    @media(max-width: $mobile-break) {
        padding-top: 160px;
        .inner {
            width: 100%;
            .fh2 {
                font-size: 24px;
                font-weight: 550;
                padding-bottom: 3px;
            }
            .fh3 {
            
            }
            .writer {
                padding-bottom: 52px;
            }
        }

    }
}